body form{
    width: 750px;
    height: 1050px;
    margin: auto;
    font-family: Arial ;
}
#content1{
    width: 100%;
    height: 10%;
    padding: 5%;
    color: #f2fff8;
    font-size: 30px;
    background-color: mediumseagreen;
}
#content2{
    width: 100%;
    padding: 5%;
    height: calc(90% - 5%);
    font-size: 30px;
    background-color: whitesmoke;
}
h1{
    margin-top: 2%;
}
.content21{
    width: 100%;
    height: 25%;
    line-height: 2.5;
}
.content211{
    height: 12.5%;
    width: calc(50% - 2%);
    line-height: 0.2;
    float: left;
    margin-right: 2%;
}
.content212{
    height: 12.5%;
    width: calc(50% - 2%);
    line-height: 0.2;
    float: right;
    margin-left: 2%;
}
.content22{
    width: 100%;
    height: calc(23% - 5%);
    float: left;
    line-height: 2.5;
    margin-bottom: 5%;
}
.content23{
    width: 100%;
    height: calc(23% - 5%);
    line-height: 2.5;
    margin-bottom: 5%;
}
.content24{
    width: 100%;
    height: 14%;
    margin-top: 250px;
}
button{
    width: 30%;
    height: 70px;
    font-size: 30px;
    border: 1px dotted;
}
input[type=text]{
    width: 100%;
    height: 70px;
    border: 1px dotted gray;
    background-color: whitesmoke;
}
input[type=email],[type=tel]{
    width: 100%;
    height: 70px;
    border: 1px dotted gray;
    background-color: whitesmoke;
}
p{
    color: gray;
    font-size: 25px;
}
a{
    color: red;
}

