body{
    border: 1px solid #2d694f;
    font-family: Arial, sans-serif;
    width: 850px;
    box-sizing: border-box;
    margin: 0;
    transform: translate(300px,0px);
}
#header{
    padding: 10px 0 10px 0;
    color: white;
    float: left;
    font-weight: bold;
    width: 100%;
    background-color: #2d694f;
    box-sizing: border-box;
    border: 1px solid green;
}
#header img {
    border-radius: 0 45% 45% 0;
    max-width: 20%;
    margin-top: 20px;
}
#header p{
    font-size: 20px;
    padding: 1rem 10rem;
    line-height: 1.4;
    letter-spacing: 1px;
}
#leftc{
    font-size: 16px;
    line-height: 1.7;
    width: calc(35% - 10px);
    float:left;
    box-sizing: border-box;
    border: 1px solid #2d694f;
    margin: 10px 0 0 10px;
    padding: 0 0 0 10px;
}