body{
    width: 760px;
    background-color: #f2fff8;
}
div{
    width: calc(35% - 10px - 15px);
    background-color: whitesmoke;
    float: left;
    margin: 10px;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
    font-family:"Times New Roman";
    transition: 300ms;
}
#box-s{
    background-color: #1d7a5a;
    width: 760px;
    height: 150px;
    color: white;
}
#box-s p{
    color: #d7c8c8;
    font-size: 16px;
}
div.box-gt1{
    width: calc(30% - 10px - 15px);
}
div.box-gt1 h2{
    font-size: 16px;
    color: #252525;
}
div.box-gt1 ul{
    font-size: 16px;
    color: #382c2c;
}
div.box-gt1 p li{
    font-size: 16px;
    color: #382c2c;
}
div.box-gt1 a{
    font-size: 16px;
    color: #050505;
}
div.box-gt2{
    width: calc(70% - 10px - 15px);
}
div.box-gt2 h3{
    font-size: 22px;
    color: #1d7a5a;
}
div.box-gt2 h4{
    font-size: 16px;
    color: #378b36;
}
div.box-gt2 h5{
    font-size: 15px;
    color: #252525;
}
div.box-gt2 p{
    font-size: 16px;
    color: #382c2c;
}
div.box-gt2 ul{
    font-size: 16px;
    color: #382c2c;
}