.top-page{
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
}
.top-page-left{
    float: left;
}
.top-page-right{
    float: right;
}
li{
    list-style: none;
}
.top-page li{
    float: left;
}
.top-page-left li a{
    color: #22222290;
    margin-right: 20px;
}
.top-page-left li a i{
    margin-right: 10px;
}
.top-page-right li a{
    color: #22222290;
    margin-right: 20px;
}
.top-page-right li i{
    margin-right: 10px;
    color: #ffa500;
}
.header{
    background-color: #f2fff8;
    padding: 20px 0;
}
.logo{
    float: left;
}
.top-cart{
    float: right;
    margin-left: 30px;
}
.menu{
    float: right;
}
.menu li{
    float: left;
}
.menu li a{
    float: left;
    margin-right: 20px;
    font-size: 16px;
    color: #22222285;
    line-height: 54px;
}
.top-cart a{
    margin-left: 20px;
    color: #22222285;
    font-size: 16px;
    line-height: 54px;
}
.logo a{
    font-size: 40px;
    color: #ffa500;
    font-weight: 500;
    text-shadow: -5px 3px 3px #ffa500;
}                               /*2 col right*/

