*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    line-height: 1.35;
    background-color: #fafafa;
    font-family: 'Roboto',sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    float: none;
    width: 1200px;   /*cái này phải để px ko đc để % */
    margin: 0 auto;
}
.sidebar{
    float: left;
    width: 25%;
}
.content{
    float: left;
    width: 75%;
}
.footer li i{
    font-size: 50px;
    color: #ffa500;
}
.footer li i:hover{
    font-size: 50px;
    color: #ff253a;
}