.loading{
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    left: 0px;
    background-image: url("../images/Loading_icon.gif");
    background-size: cover;
    background-position: center;
    background-color: black;
    display: none;
}