body{
    width: 100%;
    float: left;
    color: white;
    padding-left: 25px;
    background-image: url("../images/nhin-hinh-dang-may-doan-thoi-tiet-may-ti.jpg");
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
}

.list{
    float: left;
    width: calc(25% - 5px - 15px);
    margin: 5px 5px 20px 5px;
    padding: 15px;
    background-color: #4a6b7a;
    border-radius: 10px;
    box-sizing: border-box;
}
h2{
    font-size: 25px;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 15px;
}
img{
    float: right;
 }